* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Museo Cyrl 900";
  src: url("../Fonts/MuseoCyrl-900.woff2") format("woff2"),
    url("../Fonts/MuseoCyrl-900.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.img {
  max-width: 100%;
}
.header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #f1f1f1;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 23px 0;
  margin: auto;
  max-width: 1137px;
}
.logo {
  color: #202020;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.nav-link {
  color: #202020;
  text-decoration: none;
  font-size: 14px;
  margin-left: 11px;
  margin-right: 11px;
}
.login {
  color: #202020;
  text-decoration: none;
  font-size: 14px;
}
.hero {
  margin-top: 61px;
}
.hero-container {
  display: flex;
  margin: auto;
  align-items: center;
  max-width: 1137px;
}
.image-block {
  position: relative;
  margin-top: 61px;
  margin-right: 121px;
  margin-bottom: 70px;
}
.sale-label {
  position: absolute;
  font-weight: bold;
  color: white;
  top: 22px;
  right: 0;
  max-width: 215px;
  padding: 17px 19px;
  background-color: RGBA(201, 53, 53, 1);
  font-size: 18px;
}
.hero-text {
  color: #202020;
}
.author {
  display: block;
  font-size: 24px;
  margin-bottom: 15px;
}
.title {
  font-family: "Museo Cyrl 900";
  font-size: 54px;
  margin: 0 0 10px 0;
}
.subtitle {
  display: block;
  margin-bottom: 40px;
  font-size: 24px;
  max-width: 370px;
}
.info {
  display: flex;
  flex-wrap: wrap;
  max-width: 455px;
  margin-bottom: 46px;
}
.info-text {
  flex-basis: 50%;
  margin-bottom: 16px;
  font-size: 16px;
}
.type {
  margin: 0;
}
.age {
  margin: 0;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 430px;
  margin-bottom: 37px;
}
.pricetag {
  font-size: 55px;
}
.favorites {
  display: flex;
  justify-content: center;
  color: #202020;
  text-decoration: none;
  font-size: 16px;
}
.favorites-img {
  margin-right: 7px;
}
.button {
  border: 2px solid #f89c02;
  border-radius: 5px;
  padding: 20px 60px;
  font-size: 16px;
  font-weight: 700;
}
.read {
  margin-right: 18px;
  color: white;
  background: #f89c02;
}
.buy {
  color: #f89c02;
  text-decoration: none;
}
.about {
  background: RGBA(241, 241, 241, 1);
}
.about-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: auto;
  padding: 97px 0;
  max-width: 1136px;
}
.about-book {
  flex-shrink: 0;
  max-width: 454px;
  margin-right: 129px;
}
.about-title {
  margin: 0 0 30px 0;
  font-size: 32px;
  font-weight: 900;
}
.about-text {
  margin-bottom: 25px;
  font-size: 16px;
}
.about-author {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: white;
  border-radius: 5px;
  border-color: rgba(243, 243, 243, 1);
  border-width: 1px;
  border-style: solid;
  max-width: 554px;
  padding: 50px 40px 50px 40px;
}
.author-avatar {
  height: 100px;
  width: 100px;
  margin-right: 17px;
  margin-bottom: 23px;
  border-radius: 50%;
}
.author-name {
  font-size: 16px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 14px;
}
.author-link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}
.author-text {
  font-size: 16px;
  margin: 0;
}
.readers-container {
  max-width: 1190px;
  margin: auto;
  margin-bottom: 108px;
}
.reader {
  width: 165px;
  height: 165px;
  margin: 15px;
}
.readers-title {
  font-size: 32px;
  margin: 86px 0 35px 15px;
  font-weight: bold;
}
.footer {
  background: RGBA(241, 241, 241, 1);
  padding: 61px 116px 91px 116px;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1136px;
  margin: auto;
}
.footer-title {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 18px;
}
.footer-list {
  margin: 0;
  font-size: 16px;
  padding: 0;
  list-style: none;
}
.footer-link {
  text-decoration: none;
  color: inherit;
}
.requisite {
  margin-right: 167px;
}
.information {
  margin-right: 158px;
}
.list-item {
  margin-bottom: 16px;
}
.to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 90px;
  right: 115px;
  padding: 20px;
  border-color: rgba(238, 238, 238, 1);
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}
@media (max-width: 1200px) {
  .header-container,
  .hero-container,
  .about-container,
  .readers-container,
  .footer-container {
    max-width: 880px;
    margin: auto;
  }
  .image-block {
    margin-right: 29px;
  }
  .hero-img {
    max-width: 367px;
  }
  .about-book {
    max-width: 367px;
    margin-right: 50px;
  }
  .about-author {
    max-width: 550px;
  }
  .readers-title {
    margin: 0 0 45px 12px;
  }
  .readers-container {
    margin-top: 68px;
    margin-bottom: 93px;
  }
  .author {
    margin-bottom: 14px;
  }
  .subtitle {
    margin-bottom: 40px;
  }
  .about-title {
    margin: 0 0 25px 0;
  }
  .reader {
    width: 115px;
    height: 115px;
    margin: 12px;
  }
  .sale-label {
    display: none;
  }
  .to-top {
    display: none;
  }
  .footer {
    padding: 61px 50px 91px 50px;
  }
  .requisite {
    margin-right: 100px;
  }
  .information {
    margin-right: 100px;
  }
}
@media (max-width: 993px) {
  .header-container,
  .hero-container,
  .about-container,
  .readers-container,
  .footer-container {
    max-width: 780px;
    margin: auto;
  }
  .nav {
    display: none;
  }
  .hero {
    margin-top: 58px;
  }
  .hero-img {
    max-width: 298px;
  }
  .author {
    font-style: 22px;
    margin-bottom: 6px;
  }
  .title {
    font-size: 46px;
    margin-bottom: 10px;
  }
  .subtitle {
    margin-bottom: 28px;
  }
  .info {
    max-width: 500px;
    margin-bottom: 16px;
  }
  .price {
    margin-bottom: 30px;
  }
  .button {
    font-size: 14px;
    padding: 13px 41px;
  }
  .about-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 73px;
    padding: 83px 0 83px 0;
  }
  .about-book {
    max-width: 780px;
    margin: 0;
    margin-bottom: 60px;
  }
  .about-title {
    font-size: 24px;
  }
  .reader {
    width: 160px;
    height: 160px;
    margin: 15px;
  }
  .readers-title {
    font-size: 24px;
    margin-bottom: 41px;
  }
  .readers-container {
    margin-bottom: 65px;
  }
  .reader:nth-child(5) {
    display: none;
  }
  .reader:nth-child(6) {
    display: none;
  }
  .reader:nth-child(11) {
    display: none;
  }
  .reader:nth-child(12) {
    display: none;
  }
  .requisite {
    margin-right: 70px;
  }
  .information {
    margin-right: 80px;
  }
}
@media (max-width: 770px) {
  .header-container,
  .hero-container,
  .about-container,
  .readers-container,
  .footer-container {
    max-width: 560px;
    margin: auto;
  }
  .hero-container {
    display: flex;
    flex-wrap: wrap;
  }
  .image-block {
    max-width: 560px;
    margin-bottom: 35px;
    margin-right: 0;
  }
  .hero-img {
    max-width: 560px;
  }
  .info {
    max-width: 455px;
  }
  .button {
    padding: 15px 55px;
  }
  .hero-text {
    margin-bottom: 70px;
  }
  .about {
    margin-bottom: 70px;
  }
  .about-book {
    max-width: 560px;
  }
  .author-avatar {
    max-width: 65px;
    max-height: 65px;
  }
  .reader {
    margin: 10px;
  }
  .readers-title {
    margin-bottom: 40px;
  }
  .reader:nth-child(4) {
    display: none;
  }
  .reader:nth-child(10) {
    display: none;
  }
  .readers-container {
    margin-bottom: 70px;
  }
  .information {
    margin-right: 0;
  }
  .requisite {
    margin-bottom: 50px;
  }
  .footer {
    padding: 61px 50px 55px 50px;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-title {
    margin-bottom: 30px;
  }
}
@media (max-width: 580px) {
  .header-container,
  .hero-container,
  .about-container,
  .readers-container,
  .footer-container {
    max-width: 480px;
    margin: auto;
  }
  .image-block {
    max-width: 480px;
  }
  .hero-img {
    max-width: 480px;
  }
  .author {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .author-bio {
    max-width: 480px;
  }
  .about-book {
    max-width: 480px;
  }
  .title {
    font-size: 36px;
    margin-bottom: 14px;
  }
  .subtitle {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .info {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .type {
    margin-bottom: 19px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .button {
    font-size: 16px;
    padding: 32px 175px;
  }
  .readers-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  .read {
    margin: 0 0 18px 0;
  }
  .pricetag {
    margin-right: 28px;
  }
  .favorites-text {
    display: none;
  }
  .favorites-img {
    margin: 0;
  }
  .about-container {
    padding: 40px 0 40px 0;
  }
  .readers-container {
    max-width: 480px;
    margin-bottom: 65px;
  }
  .reader {
    margin: 10px;
    width: 135px;
    height: 135px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .requisite {
    margin-bottom: 30px;
  }
  .information {
    margin-bottom: 30px;
  }
  .price {
    max-width: 197px;
  }
  .about-text {
    margin-bottom: 15px;
  }
  .about-author {
    margin-bottom: 55px;
  }
}
@media (max-width: 320px) {
  .header-container,
  .hero-container,
  .about-container,
  .readers-container,
  .footer-container {
    max-width: 265px;
    margin: auto;
  }
  .image-block {
    max-width: 265px;
  }
  .hero-img {
    max-width: 265px;
  }
  .author {
    font-size: 13px;
  }
  .title {
    font-size: 24px;
  }
  .subtitle {
    font-size: 18px;
  }
  .info-text {
    font-size: 14px;
  }
  .button {
    padding: 18px 65px;
  }
  .buy {
    display: flex;
    justify-content: center;
  }
  .about-book {
    max-width: 265px;
    margin-bottom: 30px;
  }
  .about-author {
    display: flex;
    flex-wrap: wrap;
    padding: 33px 35px 45px 25px;
  }
  .author-avatar {
    margin-right: 12px;
    max-width: 65px;
    max-height: 65px;
  }
  .about-container {
    margin-bottom: 35px;
  }
  .readers-title {
    margin-bottom: 25px;
    margin-left: 0;
  }
  .readers-list {
    display: flex;
    flex-wrap: wrap;
  }
  .reader {
    margin: 7px;
    max-width: 115px;
    max-height: 115px;
  }
  .reader:nth-child(8) {
    display: none;
  }
  .reader:nth-child(9) {
    display: none;
  }
  .readers-container {
    margin-bottom: 55px;
  }
  .requisite {
    margin-right: 0;
  }
  .three {
    display: none;
  }
}
